body, h1, h2, h3, p, ul, li {
  border-color: rgb(213, 22, 22);
  margin: 0;
  padding: 0;
}

/* Set width of header to span full width */
.sticky-header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between; /* Space elements evenly across the header */
  align-items: center; 
  margin-bottom: 10px;
}



nav ul {
  display: flex;
  list-style: none;
  display: flex; /* Use flexbox for the navigation items */
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.company-name {
  display: flex;
  margin-right: auto; /* Pushes the company name to the left */
}


.Section {
  display: flex;
}

.Left-Section, .Right-Section, .Middle-Section {
  padding: 20px;
}

.Left-Section, .Right-Section {
  width: 25%; /* Set width for left and right Sections */
  background-color: #ffffff;
}

.Middle-Section {
  width: 50%; /* Set width for the middle Section */
  background-color: #dfdfdf;
}
.footer {
  text-align: center;
  background: #333;
  color: white;
  padding: 10px;
  width: 100%;
}
.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.social-icon {
  margin:0 10px;
}

@media (max-width: 768px) {
  
  .Section {
      flex-direction: row;
  }
  .Left-Section, .Middle-Section, .Right-Section {
    width: 100%;

    }
  }
  .whatsapp-button {
    display: inline-block;
    background-color: #25D366;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}
.whatsapp-button:hover {
  background-color: #128C7E;
}
